.dropdown-user .nav-link{
  display: flex;
  align-items: center;
}
  .dropdown-user .nav-link img{
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
  }
  .dropdown-user .nav-link p{
    margin-bottom: 0;
  }
.dropdown-user .dropdown-menu .user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}
  .dropdown-user .dropdown-menu .user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
  }
  .dropdown-user .dropdown-menu .user-header>p {
    z-index: 5;
    color: #212529;
    font-size: 17px;
    margin-top: 10px;
  }
  .dropdown-user .dropdown-menu .user-footer {
    display: flex;
    background-color: #f9f9f9;
    padding: 10px;
  }
  .dropdown-user .dropdown-menu .user-footer:before, .dropdown-user .dropdown-menu .user-footer:after {
    content: " ";
    display: table;
  }


.card{
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}


.input-group-sm>.form-control{
  padding: 1.25rem;
  width: 300px;
}
.input-group>.input-group-append>.btn{
  padding: 0.5rem 1.25rem;
}



@media (max-width: 420px){
  .dropdown-user .nav-link p {
    display: none !important;
  }

  .input-group-sm>.form-control,
  .input-group>.input-group-append>.btn{
    display: none;
  }
}