body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: poppins;
    color: #000;
}

/* MAX WIDTH */

.w-200 {
    max-width: 200px;
}

.w-250 {
    max-width: 250px;
}

.w-300 {
    max-width: 300px;
}

.w-400 {
    max-width: 400px;
}

.w-500 {
    max-width: 500px;
}

.w-800 {
    max-width: 800px;
}

.w-1000 {
    max-width: 1000px;
}

.w-1440 {
    max-width: 1440px;
}


/* BREADCRUMB */

ul.breadcrumb {
    list-style: none;
    padding: 1rem 0;
    background-color: transparent;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* NAVBAR */

.ms-slidebar .ms-slidebar-menu>li>a.link:after {
    content: none
}

.ms-slidebar .ms-slidebar-menu>li>a:after {
    content: none
}

.ms-collapse .card .card-header .card-title a.dq-none-rotation:after {
    transform: none;
    content: none;
}

.ms-collapse .card .card-block {
    border: 0px;
}

.ms-navbar {
    height: 75px;
    box-shadow: none;
}

.ms-navbar .navbar-brand img {
    max-width: 150px;
    max-height: 50px;
}

.ms-navbar .navbar-collapse,
.ms-lead-navbar .navbar-collapse {
    height: 75px;
}

.ms-navbar .navbar-collapse .navbar-nav .nav-item>a {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.ms-navbar .navbar-header .navbar-brand {
    word-spacing: normal;
}

.ms-navbar .btn-navbar-menu {
    position: relative;
}

.ms-navbar.navbar-mode .btn-navbar-menu {
    display: none;
}

.ms-navbar.ms-navbar-app {
    background-color: #fff;
    border-top: 10px solid #434343;
}

.ms-navbar .navbar-collapse .navbar-nav .nav-item>a:before,
.ms-lead-navbar .navbar-collapse .navbar-nav .nav-item>a:before {
    background-color: #4ca3d9;
}

.ms-navbar.ms-navbar-app .navbar-collapse .navbar-nav .nav-item>a,
.ms-lead-navbar .navbar-collapse .navbar-nav .nav-item>a {
    color: #424242;
}

.ms-navbar.ms-navbar-app .navbar-collapse .navbar-nav .nav-item>a:hover,
.ms-lead-navbar .navbar-collapse .navbar-nav .nav-item>a:hover {
    color: #fff;
}

.navbar-brand a {
    color: white;
    background: transparent;
    padding: 10px;
    transition: 0.5s;
}

.navbar-brand a:hover {
    background: #000;
}

.navbar .dropdown-menu li>a {
    padding: 0.5rem 1rem !important;
    font-size: 14px;
}

.ms-slidebar {
    width: 500px;
    left: -500px;
}

.bd-scroll .ms-navbar {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.bd-scroll .ms-navbar-white {
    background: #fff;
}

a:not([href]) {
    color: #4ca3d9 !important;
}

.nav-left {
    justify-content: flex-start;
    margin-left: 5rem;
    /* Default none */
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 0px;
    width: fit-content;
    height: 75px;
    display: inline-flex;
}

.nav-left .nav-item {
    display: flex;
    margin-left: 0rem;
    /* Default 10rem */
}

.nav-left .nav-item>a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #424242;
    font-weight: 500;
    padding: 0 2rem;
}

.nav-left .nav-item>a:hover {
    background: #fff;
    color: #424242;
    /* Default #4ca3d9 */
}

.nav-left li a i {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.dropdown-item.header {
    font-weight: 600;
    color: #333;
}

.dropdown-item.header:hover {
    background: transparent;
}


/* SECTION */

.bg-header {
    /* background: linear-gradient(45deg, #4ca3d9 50%, #2b51a2 100%); */
    display: inline-flex;
    align-items: center;
    background: -webkit-linear-gradient(135deg,#ff1053 0%,#3452ff 100%);
    color: #fff;
    width: 100%;
    height: 485px;
    padding: 13.5rem 5rem 5rem 5rem; /* 5rem */
}

.bg-header .header-link-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.bg-header .header-link-wrap .btn-header {
    display: inline-block;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 1rem 7.5rem;
    transition: all 0.3s;
}

.bg-header .header-link-wrap .btn-header:hover {
    background: #fff;
    color: #333;
}

.bg-header .header-link-wrap .btn-header-link {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
    margin-top: 1rem;
}

.bg-header .header-link-wrap .btn-header-link:hover {
    text-decoration: none;
}

.bg-header h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    margin: 0;
}

.bg-header span {
    font-weight: 700;
    text-shadow: none;
}

.bg-header p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0px;
    margin-bottom: 0;
}

.bg-page-title {
    width: 100%;
    height: auto;
    padding: 3rem 0;
    background: -webkit-linear-gradient(135deg,#f2bb05 0%,#07c75e 100%); /* #4ca3d9 */
}

.bg-page-title h1 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.bg-page-title h1 span {
    font-weight: 700;
}

.bg-page-title ul.breadcrumb {
    display: block;
    background-color: transparent;
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.bg-page-title ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    color: #fff;
}

.bg-page-title ul.breadcrumb li+li:before {
    content: "/";
    font-size: 12px;
    color: #fff;
    padding: 0 1rem;
}

.bg-page-title ul.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

.bg-page-title ul.breadcrumb li a:hover {
    text-decoration: underline;
}

.feature-section .headline-md {
    color: #fff;
}

.feature-section .headline-line:after {
    background: #FFDD0B;
}

.feature-section {
    background: #4ca3d9;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.feature-section .app-feature-image {
    /* position: absolute; */
    /* margin-top: 2rem; */
    width: 100%;
}

.download-section {
    margin-top: 5rem; /* Default 10rem */
    padding-top: 2rem;
    padding-bottom: 0rem;
}


/* CARD */

.card-panel {
    position: relative;
    background: #f9f9f9;
    color: #333;
    border: 1px solid #f5f5f5;
    transition: all 0.3s;
}

.card-panel:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.card-panel.no-hover:hover {
    box-shadow: none;
}

.card-panel .card-more-button {
    position: absolute;
    background: #f3f3f3;
    color: #333;
    cursor: pointer;
    border: 0;
    right: 0;
    padding: 0.5rem 1.5rem;
    z-index: 999;
    transition: all 0.2s ease;
}

.card-panel .card-more-button:hover .button-dropdown {
    display: block;
}

.card-panel .card-more-button .button-dropdown {
    position: absolute;
    display: none;
    list-style: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    background: #f3f3f3;
    padding: 0;
    left: 0;
}

.card-panel .card-more-button .button-dropdown li {
    min-width: 100px;
}

.card-panel .card-more-button .button-dropdown li a {
    display: block;
    font-size: 12px;
    color: #333;
    padding: 1rem 2rem;
}

.card-panel .card-more-button .button-dropdown li a:hover {
    background: #e3e3e3;
    color: #333;
    padding: 1rem 2rem;
}

.card-panel img {
    width: 100%;
    height: 143px;
    object-fit: cover;
}

.card-panel .card-block {
    padding: 1rem;
}

.card-panel .card-block-lg {
    padding: 1.5rem;
}

.card-panel .card-block-xlg {
    padding: 2rem;
}

.card-panel .card-block .title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    overflow: hidden;
    min-height: 20px;
    max-height: 50px;
    display: -webkit-box !important;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: normal;
    margin-bottom: 1rem;
}

.card-panel .card-block .date,
.card-panel .card-block .rating,
.card-panel .card-block .author {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0rem;
}

.card-panel .card-block .date,
.card-panel .card-block .rating,
.card-panel .card-block .author a {
    color: #555;
}

.card-panel .card-block .author a:hover {
    text-decoration: underline;
}

.card-panel .card-block .detail {
    width: 100%;
    padding: 0;
    margin: 0;
}

.card-panel .card-block .detail span {
    font-size: 14px;
    color: #555;
    margin-right: 0.5rem;
}

.card-category {
    background: #f9f9f9;
    transition: all 0.3s;
    border: 1px solid #f5f5f5;
    margin-bottom: 1rem;
    font-size: 12px;
}

.card-category .card-block {
    padding: 2rem;
}

.card-list {
    display: inline-flex;
    width: 100%;
    background: #f9f9f9;
    margin-bottom: 1rem;
    transition: all 0.2s;
}

.card-list:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.card-list img {
    width: 250px;
    height: 170px; /* Default 150px */
    object-fit: cover;
}

.card-list .card-block {
    width: 100%;
    position: relative;
    border: 1px solid #f5f5f5;
    padding: 1rem 2rem;
}

.card-list .card-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.card-list .card-list-info.mobile {
    display: none;
}

.card-list .card-list-info.desktop {
    display: inline-flex;
}

.card-list .card-list-info {
    font-size: 14px;
    color: #424242;
}

.card-list .card-list-info p {
    margin-bottom: 0rem;
}

.card-list .card-list-info .rating i {
    color: #FFB800;
}

.card-list .card-list-info .category i {
    color: #079992;
}

.card-list .card-list-author {
    font-size: 14px;
    color: #424242;
    margin-bottom: 0rem;
}

.card-list .card-list-author i {
    color: #eb2f06;
}

.card-list .card-list-price {
    font-size: 14px;
    color: #424242;
}

.card-list .card-list-price span {
    font-size: 16px;
    font-weight: 600;
    /* color: #ff6347; */
}

.card-list .card-list-enroll-button {
    font-size: 14px;
    font-weight: 600;
    border: 0px;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    transition: all 0.2s;
    margin-left: 1rem;
}

.card-list .card-list-enroll-button.primary {
    background: #4ca3d9;
    color: #fff;
}

.card-list .card-list-enroll-button.secondary {
    background: #e6ca18;
    color: #333;
}

.card-list .card-list-enroll-button:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}


/* FORM */

.form-kode-akses {
    width: 100%;
    height: auto;
    font-size: 18px;
    background: #fff;
    padding: 2rem 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-kode-akses:focus {
    border: 1px solid #03a9f4;
}

.frame-nav-search {
    position: relative;
}

.form-nav-search {
    width: 350px;
    height: auto;
    font-size: 14px;
    background: #f3f3f3;
    padding: 1rem 2rem 1rem 5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-nav-search:focus {
    border: 1px solid #03a9f4;
    background-color: #f9f9f9;
}

.icon-nav-search {
    font-size: 20px;
    position: absolute;
    color: #333;
    top: 30%;
    left: 5%;
}

.button-kode-akses {
    position: relative;
    transform: translateY(-100%);
    margin-bottom: -5%;
    width: auto;
    height: auto;
    font-size: 20px;
    /* background: #03a9f4; */
    border: 1px solid #fff;
    color: #fff;
    padding: 2rem 3rem;
    float: right;
    transition: right .8s ease-out;
    border-radius: 0 5px 5px 0;
}

.btn-see-all:before {
    /* content: "Lihat Semua"; */
}

.btn-see-all {
    background: #4ca3d9;
    color: #fff !important;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: 0.2s;
}

.btn-see-all#long {
    display: block;
}

.btn-see-all#short {
    display: none;
}

.btn-see-all:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


/* HEADLINE */

.headline-xs {
    font-size: 16px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 500 !important;
}

.headline-sm {
    font-size: 26px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 300 !important;
}

.headline-md {
    font-size: 30px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 300 !important;
}

.headline-xs span,
.headline-sm span,
.headline-md span,
.headline-lg span {
    font-weight: 700;
}

.bg-head .headline-md {
    font-size: 30px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 300 !important;
}

.headline-lg {
    font-size: 40px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 300 !important;
}

.headline-line {
    margin-bottom: 30px;
}

.headline-line:after {
    position: absolute;
    content: '';
    top: 80%;
    left: 18px;
    width: 75px;
    height: 3px;
    background: #4ca3d9;
}

.headline-line-center {
    margin-bottom: 30px;
}

.headline-line-center:after {
    position: absolute;
    content: '';
    top: 80%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 75px;
    height: 3px;
}

.headline-line:after,
.headline-line-center:after {
    background: #4ca3d9;
}

.color-dark.headline-line:after,
.color-dark.headline-line-center:after {
    background: #333;
}

.color-white.headline-line:after,
.color-white.headline-line-center:after {
    background: #fff;
}


/* DIVIDER */

.divider {
    background: #4ca3d9;
    width: 100%;
    height: 3px;
    margin: 2rem 0;
}

.divider-dark {
    background: #333 !important;
}

.divider-white {
    background: #fff !important;
}


/* OTHER */

.footer-link {
    text-decoration: none;
    color: #fff !important
}

.footer-link:hover {
    text-decoration: underline;
}

.mobile-download {
    overflow: hidden;
    height: 300px; /* Default 350px */
    position: relative;
    margin-top: -30%; /* Default 37.5% */
}