@media (max-width: 768px){
  /* NAVIGATION BAR & SLIDE BAR */
  .ms-navbar.navbar-mode .btn-navbar-menu{
    display: block;
  }
  .ms-navbar .btn-navbar-menu,
  .ms-lead-navbar .btn-navbar-menu{
    color: #333;
  }
    .ms-navbar .btn-navbar-menu:hover,
    .ms-lead-navbar .btn-navbar-menu:hover{
      color: #333;
    }

  .ms-slidebar {
    width: 85%;
    left: -85%;
  }
    .ms-slidebar .form-mobile {
      width: 100%;
      padding: 2rem 1rem;
      background: #fff;
    }
      .ms-slidebar .form-nav-search {
        width: 100%;
        height: auto;
        font-size: 16px;
        background: #f3f3f3;
        padding: 1rem 5rem 1rem 2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
      }
      .ms-slidebar .icon-nav-search {
        display: block;
        background: transparent;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 20px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        padding: 1rem;
        border-left: 1px 0 0 0 solid #ccc;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 0px;
        border-radius: 0 5px 5px 0;
        color: #333;
        top: 2.4rem;
        left: 85%;
      }

  .nav-left {
    display: none;
  }

  /* SECTION */
  .bg-header .header-link-wrap {
    margin-top: 2rem;
  }

  .bg-header .header-link-wrap .btn-header {
    padding: 1rem 5rem;
  }

  .feature-section{
    margin-top: 25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
    .feature-section .app-feature-image{
      position: relative;
      margin-top: -25rem;
      width: 100%;
    }

  .download-section{
    margin-top: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
    .download-section h2{
      margin-top: 0rem;
    }

  /* BUTTON */
  .btn-see-all {
    font-size: 20px;
    position: absolute;
    top: -90px;
    left: 90%;
  }
    .btn-see-all#long{
      display: none;
    }
    .btn-see-all#short{
      display: block;
    }
    .btn-see-all:hover{
      box-shadow: none;
    }

  /* OTHER */
  .w-500{
    width: 100%;
  }

  .mobile-download{
    display: none;
  }
}